@import '../../Assets/styles/_variable';


.singleChartPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;

  background-color: $ownWhiteBG;
  color: $ownBlack;
  overflow: hidden;

  h1{
    margin-top: 28px;
    margin-bottom: 40px;
    font-weight: 700;
    padding: 7px 15px;
    padding-top: 0px;
    box-shadow: 0px 7px 10px -5px $ownBlack;
    background-color: $ownWhiteBG;
  }
  p:first-of-type{
    width: 95%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0px;
    font-weight: 700;
  }
  p{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 70px;
  }

  .BG_draw{
    position: absolute;
    z-index: -2;
    background: linear-gradient(#ff4d0004,#ff4d0015);
    border-radius: 100%;
  }
  .draw1{
    top:-50px;
    left:-30px;
    width: 230px;
    height: 230px;
  }
  .draw2{
    top:8%;
    right:-10%;
    width: 250px;
    height: 250px;
  }
  .draw3{
    bottom:35%;
    left: -6%;
    width: 250px;
    height: 250px;
  }
  .draw4{
    top:-50px;
    left:-30px;
    width: 250px;
    height: 250px;
  }
}



@media only screen and (min-width:992px){
    .singleChartPage{
      width: 94%;
      margin-left: 6%;
      min-height: 100vh;
      p:first-of-type{
        width: 75%;
      }
      p{
        width: 70vw;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .BG_draw{
        background: linear-gradient(#ff4d002d, #ff4d0005);
      }
      .draw1{
        width: 350px;
        height: 350px;
      }
      .draw2{
        top:5%;
        right:5%;
        width: 500px;
        height: 500px;
      }
      .draw3{
        bottom: 8%;
        left: -10%;
        width: 500px;
        height: 500px;
      }
    }
    .active{
      width: 82%;
      margin-left: 18%;
    }
  }
