@import '../../Assets/styles/_variable';

// global style for all charts pages

.single_chart_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;

  background-color: $ownWhiteBG;
  color: $ownBlack;
  overflow: hidden;

  // title of charts
  .title_chart{
    margin-top: 28px;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center;
    padding: 7px 15px;
    padding-top: 0px;
    box-shadow: 0px 7px 10px -5px $ownBlack;
    background-color: $ownWhiteBG;
  }
  // first charts description
  .first_descr_chart{
    width: 95%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0px;
    font-weight: 700;
  }
  //second charts decription
  .second_descr_chart{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 70px;
  }
 // circle in background 
  .BG_draw{
    position: absolute;
    z-index: -2;
    border-radius: 100%;
  }
  .draw1{
    top:-50px;
    left:-30px;
    width: 230px;
    height: 230px;
  }
  .draw2{
    top:8%;
    right:-10%;
    width: 250px;
    height: 250px;
  }
  .draw3{
    bottom:35%;
    left: -6%;
    width: 250px;
    height: 250px;
  }
  .draw4{
    top:-50px;
    left:-30px;
    width: 250px;
    height: 250px;
  }
}



@media only screen and (min-width:992px){
    .single_chart_page{
      width: 94%;
      margin-left: 6%;
      min-height: 100vh;
      .first_descr_chart:first-of-type{
        width: 75%;
      }
      .second_descr_chart{
        width: 60vw;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .draw1{
        width: 350px;
        height: 350px;
      }
      .draw2{
        top:5%;
        right:5%;
        width: 500px;
        height: 500px;
      }
      .draw3{
        bottom: 8%;
        left: -10%;
        width: 500px;
        height: 500px;
      }
    }
    .active{
      width: 82%;
      margin-left: 18%;
    }
  }
