@import '../../Assets/styles/_variable';

.error_container{
    background-color: $ownBlack;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $ownOrange;
    margin-top: 50px;
    h2{
        margin-top: 10px;
    }
    a{
     border: 2px solid $ownWhite;
     margin-top:20px;
     padding:5px;
    }
}