@import '../../../Assets/styles/_variable';

.main_section{
    background-color: $ownBlack;
    color:$ownWhite;
   
    position: relative;
    min-height:100vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    h1{
        font-weight: 600;
        margin-top: 35%;
        text-align: center;
        font-size: 37px;
    }
    p{
        text-align: center;
        font-size: 18px;
    }
    .btn_explore{
        border: 2px solid $ownBlack;
        box-shadow:0px 0px 17px -6px #FF4D00;
        background-color: $ownBlack;
        width: fit-content;
        padding: 0 17px 0 17px;
        margin-top: 6%;
        margin-bottom: 15%;
        &:hover{
            transform: scale(1.05,1.05);
            -webkit-transform: scale(1.05,1.05);
            -ms-transform: scale(1.05,1.05);
        }
        a{
            text-decoration: none;
            font-size:20px !important;
        }
        
    }
    .scroll_down{
        margin-bottom: 5%;
        font-size: 50px;
    }
    .img1{
        display: none;
    }
    .img2{
        position: absolute;
        bottom: 0%;
        width: 100%;
        opacity: 0.3;
        z-index: -1;
    }
}

// @small devices
@media screen and (min-width:576px) {
    .main_section{
        height: auto;
        h1{
            margin-top: 100px;
        }
        p{
            margin-top: 40px;
        }
        .btn_explore{
            margin-top:40px;
            margin-bottom:40px;
        }
    }
}