@import '../../Assets/styles/_variable';

.home_page{
    background-color: $ownWhiteBG;
}

a{
    text-decoration: none;
    font-size: 16px !important;
    color:$ownWhite !important;
    &:hover{
        color: $ownOrange !important;
    }
}
