@import '../../../Assets/styles/_variable';

.navbar_mobile_cont{
    height: 43px;
    max-height: 43px;
    width: 100%;
    position: fixed;
    bottom: 0;    
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
   
    background-color: $ownBlack;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0px -1px 15px $ownBlack;
    
    .open_menu_icon{
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        margin-top: 2px;
        font-size: 35px;
        cursor: pointer;

        color: $ownOrange;
    }
    .logo{
        display: none;
    }
}

//style for menu open

.active{
    height: auto;
    max-height: 100vh;
    transition: max-height 1.5s ease;
    .open_menu_icon{
        transform: rotateX(0);
        -webkit-transform: rotateX(0);
        -ms-transform: rotateX(0);
    }
    .logo{
        display: inherit;
        width: 39%;
        margin-top: 42px;
        margin-bottom: 42px;
        img{
            width: 100%;
        }
    }
}

// @small devices
@media screen and (min-width:576px) {
    .active{
        overflow: auto;
        .logo{
            width: 25%;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}

// @medium devices
@media screen and (min-width:768px) {
    .navbar_mobile_cont{
        height: 45px;
        max-height: 45px;
        .open_menu_icon{
            font-size: 33px;
        }
    }
    .active{
        height: auto;
        max-height: 100vh;
        .logo{
            margin-top: 60px;
            margin-bottom: 60px;
            width: 28%;
        }
    }
}

