@import './Assets/styles/_variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Playfair Display', serif !important;
}

// @small devices
@media screen and (min-width:576px) {
    
}

// @medium devices
@media screen and (min-width:768px) {

}

// @large devices
@media screen and (min-width:992px) {

}

// @extra large devices
@media screen and (min-width:1200px) {

}